language: go
go:
- 1.3
- tip
before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/axw/gocov/gocov
script:
  - $HOME/gopath/bin/goveralls -repotoken $COVERALLS_TOKEN
env:
  global:
    secure: g3dmPxe+gGdSJakjexcsc6Kb2jMXrawaZ1PMDBQyyEaGW1++FyHJM0XqZh/s0K1h+QsfROn4KEC4EojVGh/HXszTMiEvJ+jMKS2K1sdWjD+JwDfsjXuD0i7aX9ZzODbqr1qnxa269pAyD6ro3766HVXB3pfawzJKxIAY2jthLaY=
